@charset "UTF-8";
body {
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
}

.frame {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-top: 0;
  margin-bottom: 10px;
}

.registration-form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 94%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error
{
	color: red;
}
